<% include partials/header %>

<div class="container center-block">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <h1> Signup !</h1>
            <hr />  
            <div class="form">
                <form action="/register" method="post">
                    <div class="form-group">
                        <label> Username: </label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label> password: </label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"> Signup </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>